<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FluentFlyout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FluentFlyout.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Duration" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="CompactLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlyoutAnimationSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RepeatEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShuffleEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerInfoEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NextUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextUpDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="nIconLeftClick" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CenterTitleArtist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlyoutAnimationEasingStyle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LockKeysEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LockKeysDuration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MediaFlyoutEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nIconSymbol" serializeAs="String">
                <value>False</value>
            </setting>
        </FluentFlyout.Properties.Settings>
    </userSettings>
</configuration>