<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target name="verboseLogger" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/FluentFlyout/verbose_logs.txt"/>
		<target name="logger" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/FluentFlyout/logs.txt"/>
		<target name="debugger" xsi:type="Debugger" layout="`${level:uppercase=true}|${logger}|${message:withexception=true}`"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="verboseLogger"/>
		<logger name="*" minlevel="Info" writeTo="logger"/>
		<logger name="*" minlevel="Trace" writeTo="debugger"/>
	</rules>
</nlog>