# This workflow warns and then closes issues and PRs that have had no activity for a specified amount of time.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: Mark stale issues and pull requests

on:
  schedule:
  - cron: '0 16 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      actions: write
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v5
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been inactive for a long time. If it is still relevant, please leave a comment to keep it open.'
        stale-pr-message: 'This pull request has been inactive for a long time. If you plan to continue working on it, please leave a comment.'
        stale-issue-label: 'stale'
        stale-pr-label: 'stale'
        days-before-stale: 90
        days-before-close: -1
        
